*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Roboto;
}

.content{
    padding:0px 20px;
}

.user-mobile__header{
    font-size:2rem;
    margin:20px 0px;
}

.user-mobile__box {
    display: flex;
    font-size: 1.2rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    padding:20px 0px;
    margin:10px 0px;
}

    .user-mobile__left {
        flex:1;
    }

.user-mobile__list {
    display:flex;
    align-items:center;
    width:100%;
}

.user-mobile__text {
    flex:1;
    padding: 0px 20px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
}

.user-mobile__icon{
    font-size:1.6rem;
}

.user-mobile__box--no-border{
    border:none;
}

.user-mobile__link{
    color:white;
    text-decoration:none;
}

.user-mobile__link:hover{
    text-decoration: underline;
}

.user-mobile__logout{
    margin-top:15px;
    display:block;
    text-align:center;
    padding:10px 0px;
    width:100%;
    color:black;
    font-size:1.4rem;
    border:1px solid black;
    border-radius:10px;
    text-decoration:none;
}

.blur{
    color:#808080;
}
.user-mobile__logout
{
    font-size:2rem;
    font-weight:700;
}

.user-mobile__lirs {
    display:block;
    margin-top:20px;
    text-align: center;
    padding: 20px;
    width: 100%;
    color: black;
    font-size: 1.4rem;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
}
.user_mobile__form_control {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}