
@{
    ViewBag.Title = "EmptyLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-mid">
    <div class="grid wide">
        <div style="height : 350px;">
            <h1 style="text-align: center; padding-top: calc(var(--height-wish__empty)/2); ">EMPTY WISHLIST ROOM</h1>
        </div>
    </div>
</div>

