@model IEnumerable<AirBNB_Admin.Models.Category>


<style>
    .filter__price{
        padding:20px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .filter__input{
        padding:12px 10px;
        border-radius:10px;
    }

</style>


<div class="menu hide-on-mobile">
    <div class="grid wide">
        <div class="menu__container row">
            <div class="menu-left col l-7 m-12 c-12">
                @foreach (var menu in Model)
                {
                    <a href="/Product/Product_Index?cateid=@menu.ID_Cate" class="menu__box ">
                        <img src="@Url.Content(menu.Image_Cate)" style="width : 26px" class="menu__img" />
                        <h4 class="menu__header">@Html.DisplayFor(x => menu.Name_Cate)</h4>
                        <div class="menu__box-border-bt"></div>
                    </a>
                }
            </div>
            <div style="display:flex;" class="menu-right col l-5 m-0 c-0">
                <div style="margin-right:10px" class="menu-right__box navbar__box">
                    <i class="menu-icon fa-solid fa-filter"></i>
                    <span style="font-size:1.6rem;margin-left:6px;" class="menu__content">Bộ lọc</span>
                    @*<input type="checkbox" id="checkboxInput" />
        <label for="checkboxInput" class="toggleSwitch">
        </label>*@
                </div>
                <div class="menu-right__box navbar__box">
                    <p class="menu__content">Hiển thị tổng trước thuế</p>
                    <input type="checkbox" id="checkboxInput" />
                    <label for="checkboxInput" class="toggleSwitch">
                    </label>
                </div>
            </div>
        </div>
        <div style="position: fixed; z-index: 1;background-color:white" class="filter-form">
            <div class="vadition__header pdlr24">
                <div class="vadition__header-icon vadition__header-icon--ic actives"><i class="fa-solid fa-x"></i></div>
                <header class="vadition__header-tittle">Bộ lọc</header>
            </div>
            <hr />
            @*END HEADER
        BEGIN BOX*@
            <div class="vadition__box pd24">
                <h1 style="margin-bottom: 20px;" class="vadition__box-tittle">
                    Khoảng giá
                </h1>
                <div class="filter__price">
                    <input class="filter__input" placeholder="Min" />
                    <span style="margin: 0px 20px"> ---- </span>
                    <input class="filter__input" placeholder="Max" />
                </div>
            <hr />
            </div>
        </div>
    </div>
</div>
@*@Html.Action("Product_Index", "Product")*@
