@model IEnumerable<AirBNB_Admin.Models.Category>



    @foreach (var menu in Model)
    {
        <a href="#" class="menu__box ">
            <img src="@Url.Content(menu.Image_Cate)" style="width : 26px" class="menu__img" />
            <h4 class="menu__header">@Html.DisplayFor(x => menu.Name_Cate)</h4>
            <div class="menu__box-border-bt"></div>
        </a>
    }