@model IEnumerable<AirBNB_Admin.Models.AdminUser>
@foreach (var item in Model)
{
    <button class="user-header__form--navRegister">Xin chao @Html.DisplayFor(x => item.Name_User)</button>
    <button class="user-header__form--navLogin"></button>
    <hr style="border: 0.1px solid #cfcfcf " />
    <button class="user-header__form--support">Airbnb your home</button>
    <button class="user-header__form--support">Help Center</button>
    <button class="user-header__form--support">Sign Out</button>
}