
@{
    <title>AirBnB-Clone-Map</title>
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.460226342874!2d106.6647898760401!3d10.776019959199234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3ae5901877%3A0x42c37972de865906!2zODI4IMSQLiBTxrAgVuG6oW4gSOG6oW5oLCBQaMaw4budbmcgMTIsIFF14bqtbiAxMCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1699442898076!5m2!1svi!2s" width="100%" height="1000" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div style="margin:0!important;height:0!important" class="Main-button_map">
        <div class="btn-map">
            <a class="btnmap" href="/Product/Product_Index_Main">
                <span class="btnmap-text">hiển thị danh sách</span>
                <span class="btnmap-icon"><i style="font-size:1.4rem" class="fa-solid fa-bars"></i></span>
            </a>
        </div>
    </div>