@model AirBNB_Admin.Models.OrderProduct
<div class="content">
    <div class="grid wide">
        <h2 class="order__header">Xác nhận và thanh toán</h2>
        <div class="content__containers row">
            <div class="content-left col l-8 m-12 c-12">
                <div class="order__trip">
                    <h3 class="trip__header">Chuyến đi của bạn</h3>
                    <div class="order__date">
                        <div class="order__day">
                            <p class="big-text">Ngày</p>
                            <a class="order__link" href="">Chỉnh sửa</a>
                        </div>
                        <p>Ngày 26 tháng 11 - Ngày 01 tháng 12</p>
                    </div>
                    <div class="order__quantity">
                        <div class="order__day">
                            <p class="big-text">Khách</p>
                            <a class="order__link" href="">Chỉnh sửa</a>
                        </div>
                        <p>1 khách</p>
                    </div>
                </div>
                <hr style="margin:10px 0px" />
                <div class="order__payment">
                    <h3 class="order__payment-header">Chọn cách thanh toán</h3>
                    <div class="order__payment-box">
                        <div class="order__day">
                            <p style="font-weight:500">Trả toàn bộ</p>
                        </div>
                        <p>Thanh toán toàn bộ số tiền ($279,97) ngay bây giờ và thế là xong.</p>
                    </div>
                </div>
                <hr style="margin:10px 0px" />
                <div class="order__payment">
                    <div>
                        <h3 class="order__payment-header">Thanh toán bằng</h3>
                        <div class="order__choose">
                            <i class="order__icon fa-regular fa-credit-card"></i>
                            <span>Thẻ tín dụng hoặc thẻ ghi nợ</span>
                        </div>
                    </div>
                    <div class="payment__box">
                        <input class="payment__input" placeholder="Số thẻ" style="width:100%" />
                        <div class="payment__box-bottom">
                            <input class="payment__input" placeholder="Ngày hết hạn" style="width:50%" />
                            <input class="payment__input" placeholder="CVV" style="width:50%" />
                        </div>
                    </div>
                </div>
                <button class="order__btn" type="submit">
                    Yêu cầu đặt phòng
                </button>
            </div>
            <div class="content-right col l-4 m-12 c-12">
                <div class="content-right-box">
                    <div class="product__box">
                        <img class="order-product__img" width=126px height=106px src="~/Content/image/0b65b1cd-0787-45c6-87a1-da3ff9e96760.png" />
                        <div class="order-product__description">
                            <p class="product__type">Phòng tại căn hộ chung cư cao cấp</p>
                            <p class="product__name">Căn phòng quý tộc vào Torino lịch sử</p>
                            <p style="font-size:1.2rem"> <i class="product__icon fa-solid fa-star"></i> 4,87 (163 đánh giá)</p>
                        </div>
                    </div>
                    <hr style="margin:10px 0px" />
                    <div class="order__detais">
                        <h3 style="font-size:2.6rem;margin:10px 0px">Chi tiết giá</h3>
                        <div class="order__fee">
                            <p>$42,68 x 5 đêm </p>
                            <p>$213,41</p>
                        </div>
                    </div>
                    <hr style="margin-bottom:26px" />
                    <div class="order__fee order__fee--total">
                        <p>Tổng (<span style="text-decoration:underline">USD</span>)</p>
                        <p>$279,97</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


