
@{
    ViewBag.Title = "SearchOptions";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    form {
        height: 100%;
    }
    .btn__filter {
        padding: 16px 20px;
        background-color: #e61e4d;
        border:none;
        border-radius:5px;
    }
    .btn__filter:hover{
        transition:0.2s;
        cursor:pointer;

    }
        .btn__filter:hover>a{
            color:black;
        }
        .btn__filter > a {
            text-decoration: none;
            color: white;
            font-size: 1.8rem;
        }
</style>
@using (Html.BeginForm("SearchOptions", "Product"))
{
    @Html.AntiForgeryToken()
    <div class="vadition__header pdlr24">
        <div class="vadition__header-icon vadition__header-icon--ic filterbox-ic actives"><i class="fa-solid fa-x"></i></div>
        <header style="padding-right: 37px; text-align:center; align-items: center; font-size: 2.5rem;" class="vadition__header-tittle">Bộ lọc</header>
    </div>
    <hr />
    <div class="Main-filter-box">
        <div class="filter__box pd24" style="height:auto;">
            <h1 style="margin-bottom: 20px;" class="vadition__box-tittle">
                Khoảng giá
            </h1>
            <div class="filter__price" style="margin-bottom: 60px">
                <input type="number" class="filter__input" style="width:40%" placeholder="Min" name="min" />
                <span style="margin: 0px 20px"> ---- </span>
                <input type="number" class="filter__input" style="width:40%" placeholder="Max" name="max" />
            </div>
            <hr />
        </div>
        <div class="filter__box pd24" style="height:auto;">
            <h1 style="margin-bottom: 20px;" class="vadition__box-tittle">
                Up Down Price
            </h1>
            <div class="filter__price" style="margin-bottom: 60px">
                <button class="btn__filter">@Html.ActionLink("Giá Giảm Dần", "AnswerShowGiaGiamDanSearch", "Product")</button>
                <span style="margin: 0px 20px"> ---- </span>
                <button class="btn__filter">@Html.ActionLink("Giá Tăng Dần", "AnswerShowGiaTangDanSearch", "Product")</button>
            </div>
            <hr />
        </div>

        <div class="filter__box  pd24" style="height:auto">
            <h1 style="margin-bottom: 20px;" class="vadition__box-tittle">
                Loại nhà/phòng
            </h1>
            <div class="type__category row">
                <div class="category__block col l-6 m-6 c-12">
                    <i class="category__icon fa-solid fa-house"></i>
                    <p>Nhà</p>
                </div>
                <div class="category__block col l-6 m-6 c-12">
                    <i class="fa-solid fa-building"></i>
                    <p>Căn hộ</p>
                </div>
                <div class="category__block col l-6 m-6 c-12">
                    <i class="fa-solid fa-hotel"></i>
                    <p>Khách sạn</p>
                </div>
            </div>

            <hr />
        </div>
        <div style="display:block" class="end__box">
            <button style="width:100%; font-size:2.6rem" type="submit" class="end__btn">Hiển thị địa điểm</button>
        </div>
    </div>
}




