@media (max-width: 768px) {
    .hide-on-mobile {
        display: none ;
    }
    .navbar-mobile{
        justify-content:center !important;
    }
    .menu-mobile--active{
        display:flex !important;
    }
    .bottom-Main {
        margin-bottom: 70px;
    }
}
@media(max-width:1023px) 
{
    .footer__powered-right {
        text-align: center;
    }

    .footer__powered {
        flex-direction:column;
    }

    .footer__powered-left {
        text-align: center !important;
    }
    .dt__pture-right--child-last
    {
        display:none!important;
    }
}
@media (max-width: 740px) 
{
    .dt__pture-right--child-fisrt {
        display: none !important;
    }
    .dt__pture-left
    {
        border-radius:12px;
    }
    .pture--parent
    {
        height:auto!important;
    }
    .Main__details-picture
    {
        padding-right:20px;
        padding-left:20px;
    }
}
    @media (min-width: 740px) {
        .content__box img {
            height: 188px;
        }
    }

    @media(max-width:330px) {
        .menu-mobile__name {
            display: none;
        }

        .menu-mobile {
            justify-content: space-around !important;
        }
    }

    @media(max-width:400px) {
        .navbar__link-none {
            display: none !important;
        }

        .navbar__box {
            width: 100px !important;
        }

        .navbar-mobile {
            justify-content: flex-end !important;
        }

        .navbar__box {
            display: flex;
            justify-content: center;
        }

        .nav-left {
            display: block !important;
        }

        .navbar__item {
            padding: 0 !important;
        }

        .navbar-mobile {
            justify-content: space-between !important;
        }

        .navbar__img {
            padding-left: 20px;
        }
    }
@media(max-width:1023px) {
    .Order__Details-interface {
        flex-direction: column;
    }

    .Details-interface__Infobox {
        width: 100% !important;
    }

    .Oderbox-Main {
        margin-left: 0!important;
        margin-bottom: 0!important;
        margin-top: 20px!important;
        margin-bottom: 20px!important;
    }

    .Order-box--UX {
        width: 400px;
        margin:auto;
    }
}
@media(max-width:500px)
{
    .Owner__Info--header {
        flex-direction: column;
        align-items: center;
    }
}
