
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="grid wide">
<h2 style="font-size:6rem; padding-left:12px">Contact Us</h2>
        <div class="content__container row">
            <div class="content__box col l-3 m-6 c-12">
                <h4 class="footer__header content__header">Phan Văn Năng</h4>
                <ul class="content__list">
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-regular fa-user"></i>
                        </div>
                        <a href="tel:+84902250149" class="footer__link">ID: 22DH112283</a>
                    </li>
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-solid fa-phone"></i>
                        </div>
                        <div class="footer__about">
                            <a href="" class="footer__link">(+84) 0902250149</a>
                        </div>
                    </li>
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-regular fa-envelope"></i>
                        </div>
                        <div class="footer__about">
                            <a href="" class="footer__link">22DH112283@st.huflit.edu.vn</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content__box col l-3 m-6 c-12">
                <h4 class="footer__header content__header">Nguyễn Hoàng Phong</h4>
                <ul class="content__list">
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-regular fa-user"></i>
                        </div>
                        <a href="" class="footer__link">ID: 22DH112737</a>
                    </li>
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-solid fa-phone"></i>
                        </div>
                        <div class="footer__about">
                            <a href="tel:+84972334715" class="footer__link">(+84) 972334715</a>
                        </div>
                    </li>
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-regular fa-envelope"></i>
                        </div>
                        <div class="footer__about">
                            <a href="" class="footer__link">22DH112283@st.huflit.edu.vn</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content__box col l-3 m-6 c-12">
                <h4 class="footer__header content__header">Vũ Lê Anh Khôi</h4>
                <ul class="content__list">
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-regular fa-user"></i>
                        </div>
                        <a href="" class="footer__link">ID: 22DH114599</a>
                    </li>
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-solid fa-phone"></i>
                        </div>
                        <div class="footer__about">
                            <a href="" class="footer__link">(+84) 587339074</a>
                        </div>
                    </li>
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-regular fa-envelope"></i>
                        </div>
                        <div class="footer__about">
                            <a href="tel:+84587339074" class="footer__link">22DH114599@st.huflit.edu.vn</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content__box col l-3 m-6 c-12">
                <h4 class="footer__header content__header">Đoàn Thanh Nghiệp</h4>
                <ul class="content__list">
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-regular fa-user"></i>
                        </div>
                        <a href="" class="footer__link">ID: 22DH112348</a>
                    </li>
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-solid fa-phone"></i>
                        </div>
                        <div class="footer__about">
                            <a href="tel:+84356522701" class="footer__link">(+84) 356522701</a>
                        </div>
                    </li>
                    <li class="content__item">
                        <div class="content__box-icon">
                            <i class="content-contact__icon fa-regular fa-envelope"></i>
                        </div>
                        <div class="footer__about">
                            <a href="" class="footer__link">22DH112283@st.huflit.edu.vn</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

