@{
    ViewBag.Title = "Home Page";
}

<!-- End Navbar -->
<!-- Menu -->
<div class="menu">
    <div class="grid wide">
        <div class="menu__container row">
            <div class="menu-left col l-9 m-12 c-12">
                @Html.Action("Category_Index", "Category")
            </div>
            <div class="menu-right col l-3 m-0 c-0">
                <div class="menu-right__box navbar__box">
                    <p class="menu__content">Hiển thị tổng trước thuế</p>
                    <input type="checkbox" id="checkboxInput">
                    <label for="checkboxInput" class="toggleSwitch">
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END  Menu -->
<!--Begin Product -->
<div class="content">
    <div class="grid wide">
        <div class="content__container row">
            @Html.Action("Product_Index", "Product")
        </div>
    </div>
</div>
<!--END  Product -->