﻿body {
}

.content {
    margin:20px 0;
}

.content__container {
    align-items: center;
    padding: 0px 20px;
}

.content-img__box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

/*    .content-img__box:hover .content__arrow {
        display: block;
    }*/

.content__box {
    margin-top: 26px;
}

.content__wishlist {
    position: absolute;
    top: 5%;
    right: 4%;
    z-index:1;
}

.content__arrow {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.content-arrow__icon {
    font-size: 1.4rem;
    background-color: white;
    padding: 8px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.content__page {
    position: absolute;
    bottom: 3%;
    right: 40%;
}

.content__transition {
    font-size: 4rem;
    color: white;
    opacity: 1;
    cursor: default;
}

.content__transition--no-chosen {
    opacity: 0.6;
}

.content-wishlist__icon {
    font-size: 2rem;
    color: black;
}

.content__infomation {
    margin-top: 10px;
    font-size: 1.4rem;
}

.content__location, .content__price {
    font-weight: 600;
}

.content__icon {
    margin-right: 6px;
}

.content__header {
    display: flex;
    justify-content: space-between;
}

.content__owner, .content__date, .content__day {
    color: #717171;
    font-weight: 400;
    margin: 4px 0px;
}
.content__owner {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

    .content__add {
        margin: 50px 0px;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

.content__btn {
    margin-top: 16px;
    padding: 10px 24px;
    background-color: black;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.85;
}

    .content__btn:hover {
        opacity: 1;
        transition: 0.2s;
    }
.content__box img {
    object-fit:fill;
    transition: 0.8s;
    width: 100%;
    height: 210px;
}
.content-img__box:hover img {
    filter: brightness(80%);
    cursor: pointer;
    transform: scale(1.2);
}

@media(max-width:1023px) {
    .menu-right{
        display:none!important;

    }
    .content__box img {
        height: 180px;
    }

    .hide-on-tablet {
        display: none !important;
    }

    .menu-left::-webkit-scrollbar {
        width: 0;
        flex:1;
    }

    .box-loc {
        padding: 20px 30px !important;
        display: none !important;
    }

    .menu-right {
        flex: 0 0 16.66667% !important;
        max-width: 16.66667% !important;
    }

    .box-price {
        display: none !important;
    }

    .footer__powered-right {
        text-align: center;
    }

    .footer__powered {
        flex-direction: column;
    }

    .footer__powered-left {
        text-align: center !important;
    }

    .dt__pture-right--child-last {
        display: none !important;
    }

    .Order__Details-interface {
        flex-direction: column;
    }

    .Details-interface__Infobox {
        width: 100% !important;
    }

    .Oderbox-Main {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }

    .Order-box--UX {
        width: 400px;
        margin: auto;
    }
}
@media (max-width: 740px) {
    .content__box img{
        height:100%!important;
    }
}