.btnmap {
    padding: 22px 30px 20px 30px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: linear 0.2s;
    z-index: 5;
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}
.btnmap-text
{
    font-size:1.6rem;
    padding-right:5px;
    font-weight:500;
}
.btnmap-icon-map
{
    font-size:1.6rem;
}
.Main-button_map
{
     position:sticky;
     margin-bottom:100px;
     margin-top:50px;
    bottom:100px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.Main-button_map:hover .btnmap
{
    padding:23px 32px 22px 32px;
}

