
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Assests/CSS/UserMobile__css/userMobilecss.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="content">
        <div class="grid wide">
            <h2 class="user-mobile__header">Hồ sơ</h2>
            <a href="" style="text-decoration:none; color:black">
                <div class="user-mobile__box">
                    <div class="user-mobile__left">
                        <div class="user-mobile__list">
                            <img src="~/Content/image/1618457259_14-phonoteka_org-p-fon-dlya-obs-14.jpg" width="80" height="80" style="border-radius:50%" />
                            <div class="user-mobile__text">
                                <p>Xin chào !</p>
                                <p>Hiền thị hồ sơ</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-mobile__right">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("Info","UserMobile")" style="text-decoration:none; color:black">
                <div class="user-mobile__box">
                    <div class="user-mobile__left">
                        <div class="user-mobile__list">
                            <i class="user-mobile__icon fa-regular fa-user"></i>
                            <div class="user-mobile__text">
                                <p>Thông tin cá nhân</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-mobile__right">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </a>
            <h2 class="user-mobile__header">Hỗ trợ</h2>
            <a href="" style="text-decoration:none; color:black">
                <div class="user-mobile__box user-mobile__box--no-border">
                    <div class="user-mobile__left">
                        <div class="user-mobile__list">
                            <i class="user-mobile__icon fa-solid fa-question"></i>
                            <div class="user-mobile__text">
                                <p>Truy cập Trung tâm trợ giúp</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-mobile__right">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </a>
            <a href="" style="text-decoration:none; color:black">
                <div class="user-mobile__box user-mobile__box--no-border">
                    <div class="user-mobile__left">
                        <div class="user-mobile__list">
                            <i class="user-mobile__icon fa-solid fa-shield"></i>
                            <div class="user-mobile__text">
                                <p>Tìm trợ giúp về vấn đề an toàn</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-mobile__right">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </a>
            <a href="" style="text-decoration:none; color:black">
                <div class="user-mobile__box">
                    <div class="user-mobile__left">
                        <div class="user-mobile__list">
                            <i class="user-mobile__icon fa-solid fa-headphones"></i>
                            <div class="user-mobile__text">
                                <p>Báo cáo lo ngại của hàng xóm</p>
                            </div>
                        </div>
                    </div>
                    <div class="user-mobile__right">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </a>
            <span><i class="fa-solid fa-globe"></i> <a class="user-mobile__link" href="">Tiếng Việt(VN)</a></span>
            <span>$ <a class="user-mobile__link" href="">USD</a></span>
            <a class="user-mobile__logout" href="">Đăng Xuất</a>
            <br />
            <p style="text-align:center;font-size:0.7rem;"><a style="color:black" href="">Trợ giúp & hỗ trợ</a> · <a style="color:black" href="">Điều khoản dịch vụ </a>· <a style="color:black" href="">Chính sách quyền riêng tư</a></p>
            <p style="text-align:center; font-size:0.7rem; color:#808080">© 2023 Airbnb, Inc. Bảo lưu mọi quyền.</p>
        </div>
    </div>
</body>
</html>
